@using OduncKitapMvcWebSolution_UI.Models
@model PersonelViewModel
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> Personel Güncelle</h2>

@using (Html.BeginForm("Guncelle", "Personel", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    @Html.Label("Personel Adı : ")
    @Html.TextBoxFor(x => x.PersonelAdi, new { @class = "form-control" })
    <br />

    
    @Html.Label("Personel Soyadı : ")
    @Html.TextBoxFor(x => x.PersonelSoyadi, new { @class = "form-control" })
    <br />



    
    @Html.Label("Telefon : ")
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
    <br />


   
    @Html.Label("Email : ")
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
   
}

<input type="submit" class="btn btn-primary" value="Güncelle" />
